jobs:
deploy-staging:
      gke/publish-and-rollout-image:
          cluster: cluster-1
          deployment: hello-web
          tag: $CIRCLE_SHA1
          image: myimage
          container: hello-app

scale-out:
  run:
    name : scale-ou
    command: |
      kubectl scale deployment/hello-web --replicas=10


orbs:
  gke: circleci/gcp-gke@1.0.3
version: 2.1
workflows:
  main:
    jobs:
      - deploy-staging:
      - user-acceptance:
          type: approval
          requires:
            - deploy-staging
      - scale-out:
          requires:
            - user-acceptance
