jobs:
  scale-out:
    docker:
      - image: 'cimg/python:2.7'
    steps: 
      - gcloud/install
      - gcloud/initialize
      - k8s/install-kubectl
      - gke/update-kubeconfig-with-credentials
          cluster: cluster-1
      - run:
          name: Scaling
          command: | 
            kubectl scale deployment/hello-web --replicas=10

      
orbs:
  gke: circleci/gcp-gke@1.0.3
  gcloud: circleci/gcp-cli@1.8.4
  k8s: circleci/kubernetes@0.10.0

version: 2.1
workflows:
  main:
    jobs:
      - gke/publish-and-rollout-image:
          cluster: cluster-1
          deployment: hello-web
          tag: $CIRCLE_SHA1
          image: myimage
          container: hello-app
      - user-acceptance:
          type: approval
          requires:
            - gke/publish-and-rollout-image
      - scale-out:
          requires:
            - user-acceptance
