orbs:
  gke: circleci/gcp-gke@1.0.3
jobs:
  scale-out:
    docker:
      - image: 'cimg/python'
    steps:
      - run:
          command: |
            kubectl scale deployment/hello-web --replicas=10

version: 2.1
workflows:
  main:
    jobs:
      - gke/publish-and-rollout-image:
          cluster: cluster-1
          deployment: hello-web
          tag: $CIRCLE_SHA1
          image: myimage
          container: hello-app
      - user-acceptance:
          type: approval
          requires:
            - gke/publish-and-rollout-image
      - scale-out:
          requires:
            - user-acceptance
