jobs:
  - scale-out:
      docker:
      - image: 'cimg/python'
      steps: 
        - gcloud/install
        - k8s/install-kubectl
        - run:
            name: scaling
            command: kubectl scale deployment/hello-web --replicas=10

      
orbs:
  gke: circleci/gcp-gke@1.0.3

version: 2.1
workflows:
  main:
    jobs:
      - gke/publish-and-rollout-image:
          cluster: cluster-1
          deployment: hello-web
          tag: $CIRCLE_SHA1
          image: myimage
          container: hello-app
      - user-acceptance:
          type: approval
          requires:
            - gke/publish-and-rollout-image
      - gke/run:
          requires:
            - user-acceptance
