orbs:
  gke: circleci/gcp-gke@1.0.3
version: 2.1
workflows:
  main:
    jobs:
      - gke/publish-and-rollout-image:
          cluster: cluster-1
          deployment: hello-web
          tag: $CIRCLE_SHA1
          image: myimage
